body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.tag{
    display: flex;
    width: 100%;
}
.content{
    display: flex;
    height: 40px;
    width: 100%;
    background-color: aquamarine;
    border: 1px solid black ;
    justify-content: center;
    align-items: center;
}
.list{
    display: flex;
    width: 100%;
}
.entries{
    display: flex;
    height: 40px;
    width: 100%;
    background-color: khaki;
    border: 1px solid black ;
    justify-content: center;
    align-items: center;
}
.del-btn{
    background-color: rgb(255, 91, 80);
    border: none;
    border-radius: 30px;
    height: 30px;
    width: 100px;
}